
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import 'assets/styles/tufte';
@import 'assets/styles/latex';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mycollections-primary: mat-palette($mat-indigo);
$mycollections-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$mycollections-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$mycollections-theme: mat-light-theme($mycollections-primary, $mycollections-accent, $mycollections-warn);

$custom-typography: mat-typography-config($font-family: 'et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif');
// Override the typography in the core CSS.
@include mat-core($custom-typography);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($mycollections-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12.5%;
  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  background-color: #fffff8;
  color: #111;
  max-width: 1400px;
  counter-reset: sidenote-counter;
  }
  .material-icons.md-48 { font-size: 48px; }
