<div class="fullwidth">
<mat-card>
  <figure>
    <span class="sidenote">Image by <a href="https://pixabay.com/users/franzroos_fotomacher-1782794/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4459530">Franz Roos</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4459530">Pixabay</a></span>
    <img src="./assets/images/home.jpg" width="256px"/>
  </figure>
  <mat-card-content>
<p>
  This is a random collection of lines that I wrote up at various points in time for various `trigger` events that happened. It is interesting that I did not attempt to express anything in some kind of concise representation of any experience earlier. For some reason these lines happened and I thought they were interesting enough to put together in one place.
</p>
<p>
  The primary objective of all this effort is to inspire people to do the <a href="https://www.innerengineering.com/" target="_blank">Inner Engineering program.</a> It may be happening somewhere near your home, or you could do the online portion and do the completion program. You can search for the schedule <a href="http://www.ishayoga.org/Schedule/Yoga-Programs" target="_blank">here</a>
</p>
<p>
  Please note that all mistakes in this collections are mine, if there is anything that is worth looking at, that is the impact of Inner Engineering and various other programs I have attended.
</p>
</mat-card-content>
</mat-card>
</div>
